.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    background-color: white;
    align-items: center;
    margin: 10px 0 0;
}
.menu a{
    text-decoration: none;
    padding: 0 3px;
}
.menu a:visited{
    color: #000;
}
.der{
    justify-content: right;
}
.izq{
    justify-content: left;
}
