.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: white;
    align-items: center;
    margin: 10px 0 0;
}
header{
    position: sticky;
    top: -2px;
}
.menu a{
    text-decoration: none;
    padding: 25px 3px;
}
.menu a:visited{
    color: #000;
}
.menu a:hover{
    background-color: lightgray;
    border-radius: 2px;
}
.menu{
    padding: 0 10px;
    font-size: 18px;
}
.der{
    justify-content: right;
}

.izq{
    justify-content: left;
}
.imagen:hover{
    transition: .5s;
    transform:rotate(360deg);
}
.imagen{
    cursor: pointer;
    transition: .75s;
}