body{
    margin:0 15%;
    background-color: lightgray;
}
hr{
    margin: 0;
}
.container-text{
    display: flex;
    flex-direction: row;
    background-color: #FFF;
}
.imagen img{
    width: 80px;
}
.articulos{
    min-width: 70%;
    align-items: start;
    flex-wrap: wrap;
    column-count: 2;
    column-gap: 0;
    display: table-column;
}
article{
    width: 350px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
article p{
    text-align: center;
}
.row-container {
    display: flex;
}
article img{
    width: 100%;
}
aside{
    padding: 10px;
}
.story img{
    width: 90%;
}

footer{
    color: linen;
    background-color: lightslategrey;
    padding: 45px 20px;
    justify-content: center;
    text-align: center;
}
footer a{
    text-decoration: none;
}
footer a:visited{
    color: linen;
}
