body{
    background-color: lightgray;
}
hr{
    margin: 0;
}
.container-text{
    margin:0 15%;
    display: flex;
    flex-direction: row;
    background-color: #FFF;
}
.imagen img{
    width: 80px;
}
.articulos{
    align-items: start;
    flex-wrap: wrap;
    column-count: 2;
    column-gap: 0;
    display: table-column;
    width: 70%;
}

article{
    cursor: pointer;
    padding: 8px;
    margin: 1px;
    display: inline-block;
    transition: .5s;
}
article:hover{
    transition: .5s;
    background: rgba(0, 0, 0, 0.699);
    color: white;
}
article p{
    text-align: center;
}
.row-container {
    display: flex;
}
article img{
    width: 100%;
}
p{
    font-size: 14px;
}
aside{
    padding: 0 20px;
    width: 30%;
}
aside h1{
    margin-top: 0px;
}
.story img{
    width: 75%;
}
.story{
    display: block;
}
.updated{
    text-align: left;
    margin: 0;
}

footer{
    color: linen;
    background-color: lightslategrey;
    padding: 45px 20px;
    justify-content: center;
    text-align: center;
}

footer a{
    text-decoration: none;
}

footer a:visited{
    color: linen;
}

@media (max-width:800px){
    .articulos{
        column-count: 1;
    }
}
@media (max-width:600px){
    .container-text{
        display: grid;
        flex-direction: row-reverse;
    }
    .articulos{
        width: 100%;
    }
    .story{
        display: none;
    }
}

