body{
    background-color: #2C3034;
}

table{
    border:3px solid;
}
*{
    color:seashell;
}
h1{
    text-align: center;
    margin: 20px 0;
}

tr{

}
.container{
    margin: 0 auto;
    text-align: center;
}
.meses, .dias{
    font-size: 20px;
    font-weight: bold;
}
.row{
    animation-name: aparecer;
    animation-iteration-count:initial;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}