body{
    background-color: #2C3034;
}

table{
    border:3px solid;
}
*{
    color:seashell;
}
h1{
    text-align: center;
    margin: 20px 0;
}
.vaIzquierda{
    animation-name: izquierda;
}
.vaDerecha{
    animation-name: derecha;

}
h3{
    animation-name: derecha;
    position: relative;
    animation-iteration-count:initial;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    justify-content: center;
}
.container{
    margin: 0 auto;
    text-align: center;
}
.meses, .dias{
    font-size: 20px;
    font-weight: bold;
}
.row{
    animation-name: aparecer;
    animation-iteration-count:initial;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    justify-content: center;
}

.col-4{
    border: 1px solid;
}
@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes derecha{
    from{
        left:-1000px
    }
    to{
        left: 0px;
    }
}
