body{
    margin: 0 auto;
    color:seashell;
    background-color: #595f66;

}

table{
    border:3px solid;
}

h1{
    text-align: center;
}
.vaIzquierda{
    animation-name: izquierda;
}
.vaDerecha{
    animation-name: derecha;

}
footer{
    position: absolute;
    background: radial-gradient(#2C3034, #595f66);
    bottom: 0;
    text-align: center;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
h3{
    animation-name: derecha;
    position: relative;
    animation-iteration-count:initial;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    justify-content: center;
    padding: 10px 0;
}
.container{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    
    background-color: #2C3034;
    text-align: center;

    
    -webkit-box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
    padding-bottom: 30px;
    border-radius: 0 0 30px;
    height: 100%;
}
.meses, .dias{
    font-size: 20px;
    font-weight: bold;
}
.row{
    animation-name: aparecer;
    animation-iteration-count:initial;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    justify-content: center;
}

.col-4{
    border: 1px solid;
}
@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes derecha{
    from{
        left:-1000px
    }
    to{
        left: 0px;
    }
}
.darkMode{
    position: absolute;
    transition: .5s;
    left: 5px;
}
.darkMode:hover{

}